!!!
%html
  %head
    %title Wikilicious
  %body
    %p.notice= notice
    %p.alert= alert
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    .container
      .pull-right.user-info
        - if current_user
          | #{link_to "Profile", '#'}
          | #{link_to "Sign out", destroy_user_session_path, method: :delete}

        - else
          = link_to "Sign In", new_user_session_path
          or
          = link_to "Sign Up", new_user_registration_path
      .pull-right.user-info
        - if current_user && !current_user.premium?
          = link_to "Upgrade Plan  ", new_charge_path
        - else
          You're on the premium plan 
      = yield
