= simple_form_for [user, wiki]  do |f|
	= form_group_tag(wiki.errors[:description]) do
		= f.label :description
		= f.text_field :description, class: 'form-control', placeholder: "Enter wiki description"
	= form_group_tag(wiki.errors[:body]) do
		= f.label :body
		= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Write your wiki here"
	- if current_user.premium?  
		= form_group_tag(wiki.errors[:public_wiki]) do
			= f.label "Set wiki as private"
			= f.check_box :public_wiki, class: 'form-control'

	.form-group
		= f.submit "Save", class: 'checkbox', fa
		= link_to 'Cancel', wikis_path