%div
	%p
		My wikis

%table.table.table-striped
	%tbody
		- @wikis.each do |wiki|
			%tr
				%td= wiki.description
				%td= link_to "view", wiki_path(wiki)
				%td= link_to "edit", edit_wiki_path(wiki)
				%td= link_to "share", wiki_collaborators_path(wiki)
				%td
					- if current_user.premium?
						- "Your post is #{wiki.public_wiki ? 'Public' : 'Private'}"
					- else 
						= link_to "Upgrade for private posts", new_charge_path, class: "btn btn-success"
				%td= button_to "delete", wiki_path(wiki), method: :delete

%h3 Create a new wiki
%div 
	=button_to "Create", new_wiki_path, method: :get

%br
%div
	%strong	
		Wikis you are collaborating on

%table.table.table-striped
	%tbody
		%tr
			%th Description 
			%th View
			%th Edit
			%th Owner
		- @collaboration_wikis.each do |w|
			%tr
				%td= w.description
				%td= link_to "view", wiki_path(w)
				%td= link_to "edit", edit_wiki_path(w)
				%td= w.user.name
%br
%div
	%strong	
		All public wikis

%table.table.table-striped
	%tbody
		%tr
			%th Description 
			%th Owner 
			%th View
		- @public_wikis.each do |wi|
			%tr
				%td= wi.description
				%td= wi.user.name
				%td= link_to "view", wiki_path(wi)